.burger, .mxt, .logo-white, .logo, .payments{
	background: url(../images/sprites.png) no-repeat;
}

.burger{
	background-position: 0 0;
	width: 18px;
	height: 12px;
}

.mxt{
	background-position: -49.99713134765625px 0;
	width: 56px;
	height: 44px;
}

.logo-white{
	background-position: 0 -48px ;
	width: 165px;
	height: 42px;
}

.logo{
	background-position: 0 -105.984375px ;
	width: 169px;
	height: 44px;
}

.payments{
	background-position: 0 -158px ;
	width: 144px;
	height: 20px;
}

